body,
html {
    padding: 40px;
}

.yellow {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transition: 3s;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
}

.yellow:hover {
    /* transform: translate(50%, 50%); */
    /* transform: rotate(90deg); */
    /* transform: rotateZ(90deg); */
    /* transform: scaleY(3); */
    /* transform: scale(3, 3) rotate(90deg); */
    /* width: calc(33% + 20px); */
    /* transform: skewY(180deg); */
    /* matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */
    /* transform: rotate(90deg) scaleY(3) ; */
    /* transform-origin: 25% 50%; */
    /* transform: translateZ(70px) */
    /* transform: scaleZ(2); */
    width: 100px;
    animation: bounce;
    animation-iteration-count: infinite;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.flex {
    display: flex;
}

.yellow {
    /* width: 33%; */
}

.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
}

.spinner {
    border: 0px solid transparent;
    border-top: 4px solid red;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(0deg)
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}